<div class='card__content'>
  <h4 class='title'>{{ title }}</h4>
  {{ image_path }}
  <p class='description'>{{ description }}</p>
  <div class='card__footer'>
    <div class='author'>{{ author }}</div>
    <div class='type'>{{ type }}</div>
    <div class="link">
      {{ link }}
    </div>
  </div>
</div>
